.customgrid  {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}
@media screen and (max-width: 1800px) {
    .customgrid  {
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
    }
    
}

@media screen and (max-width: 1200px) {
    .customgrid  {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }
    
}


@media screen and (max-width: 700px) {
    .customgrid  {
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
    }
    
}

